max_peers = 2500
max_peers_seed = 50
max_uploads = 6
download_rate = 0
upload_rate = 20
directory = ~/Torrents/Downloaded
session = ~/Torrents/session
schedule = watch_directory,5,5,load_start=~/Torrents/Downloading/*.torrent
schedule = untied_directory,5,5,stop_untied=
schedule = tied_directory,5,5,start_tied=
port_range = 28211-28211
check_hash = no
encryption = allow_incoming,try_outgoing,enable_retry
peer_exchange = yes
